.version.designs /* version checker */
{
	color: #0000FF;
	background-color: #A16548;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 921px;
	min-height: 956.2287692363043px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 19px 62.77123076369571px 20px;
}

#u426-4
{
	z-index: 52;
	display: block;
	vertical-align: top;
	position: relative;
}

#pu347-3
{
	width: 0.01px;
	margin-left: 9px;
	margin-top: 76px;
}

#u347-3
{
	z-index: 45;
	width: 5px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 169px;
	left: 678px;
}

#u412
{
	z-index: 48;
	width: 728px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u418
{
	z-index: 50;
	width: 150px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: 752px;
}

#slideshowu178
{
	z-index: 2;
	width: 0.01px;
	height: 471px;
	margin-top: 127px;
	position: relative;
}

#u185
{
	position: absolute;
	width: 629px;
	height: 360px;
	background-color: transparent;
	left: 92px;
}

#u185popup
{
	z-index: 3;
}

#u448
{
	z-index: 4;
	width: 629px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u448_img
{
	margin-left: -6px;
	margin-right: -5px;
}

#u279
{
	z-index: 6;
	width: 629px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u279_img
{
	margin-top: -3px;
	margin-bottom: -3px;
}

#u288
{
	z-index: 8;
	width: 629px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u270
{
	z-index: 10;
	width: 629px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u270_img
{
	margin-left: -4px;
	margin-right: -4px;
}

#u261
{
	z-index: 12;
	width: 629px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u261_img
{
	margin-left: -4px;
	margin-right: -5px;
}

#u306
{
	z-index: 14;
	width: 629px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u315
{
	z-index: 16;
	width: 629px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u288_img,#u306_img,#u315_img
{
	margin-left: -5px;
	margin-right: -6px;
}

#u337
{
	z-index: 18;
	width: 629px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u448_clip,#u279_clip,#u288_clip,#u270_clip,#u261_clip,#u306_clip,#u315_clip,#u337_clip
{
	overflow: hidden;
	width: 629px;
	height: 360px;
}

#u337_img
{
	margin-left: -5px;
	margin-right: -5px;
}

#u193
{
	position: absolute;
	width: 920px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 30px;
	top: 392px;
}

#u193popup
{
	z-index: 20;
}

#u451
{
	z-index: 21;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 185px;
}

#u282
{
	z-index: 23;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 255px;
}

#u291
{
	z-index: 25;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 325px;
}

#u273
{
	z-index: 27;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 395px;
}

#u264
{
	z-index: 29;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 465px;
}

#u309
{
	z-index: 31;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 535px;
}

#u318
{
	z-index: 33;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 605px;
}

#u340
{
	z-index: 35;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 675px;
}

#u451.SSSlideLinkSelected,#u282.SSSlideLinkSelected,#u291.SSSlideLinkSelected,#u273.SSSlideLinkSelected,#u264.SSSlideLinkSelected,#u309.SSSlideLinkSelected,#u318.SSSlideLinkSelected,#u340.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 4px -10000px 0px 0px;
}

#u192-4
{
	position: absolute;
	display: block;
	vertical-align: top;
	left: 753px;
}

#u192-4popup
{
	z-index: 37;
}

#u180-4
{
	position: absolute;
	display: block;
	vertical-align: top;
	top: 86px;
	left: 753px;
}

#u180-4popup
{
	z-index: 41;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u442-4
{
	z-index: 57;
	display: block;
	vertical-align: top;
	margin-left: 1px;
	margin-top: 115px;
	position: relative;
}

#u440
{
	z-index: 56;
	width: 472px;
	min-height: 7525px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 224px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

